<h1>Listing utterances</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utterances.each do |utterance| %>
      <tr>
        <td><%= utterance.user %></td>
        <td><%= utterance.project %></td>
        <td><%= link_to 'Show', utterance %></td>
        <td><%= link_to 'Edit', edit_utterance_path(utterance) %></td>
        <td><%= link_to 'Destroy', utterance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Utterance', new_utterance_path %>
